<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(app|bootstrap|config|database|resources|routes|src|storage|vendor)/ - [F,L]
    RewriteRule ^(\.env|lite|composer\.(json|lock))$ - [F,L]

    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

DirectoryIndex public/index.php

<IfModule mod_authz_core.c>
    <FilesMatch "^\.env">
        Require all denied
    </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
    <FilesMatch "^\.env">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>

Options -Indexes
